@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: rgb(41, 48, 52);
    max-width: 100%;
    max-height: 100%;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #4facd4;
}

h2 , p {
    color: white;
}

main {
    display: flex;
    flex-wrap: nowrap;
}

.container-fluid {
    padding: 0 !important;
}

/* sidebar */

.sidebar {
    background-color: #2e3539;
}

nav {
    background-color: #2e3539;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-item i {
    font-size: 1.5rem;
    color: #cfcdcd;
    margin: .5rem;
}

.nav-item i:hover {
    background-color: #f6405d;
    padding: .5rem;
}

i.active {
    background-color: #f6405d;
    padding: .5rem;
}

.nav-header i {
    margin: 1rem 0;
    font-size: 1.8rem;
}

@media screen and (min-width: 768px){
    .sidebar{
        display: none;
    }
}

/* ---------------------------------------------sidebar END-------------------------------------------------------- */

/* NAVBAR */

.form-inline {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    background-color: #2e3539 !important;
    border-radius: 30px;
}

.form-inline i {
    font-size: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.658);
}

.form-inline input {
    background-color: #2e3539 !important;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1rem;
    color: white !important;
}

.form-inline .form-control {
    width: 8.375rem !important;
    outline: none;
    border: none;

}

.navbar-toggler {
    background-color: #cfcdcd34 !important;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.nav-link {
    text-transform: capitalize;
    margin-right: .5rem;
    color: #cfcdcd !important;
}

.dropdown-menu {
    transition: all 0.7s linear;
    transform: translate(-100%);
}

.close-btn {
    background-color: #2e3539;
    border-radius: 30px;
    transition: all 0.7s linear;
    border: none;
    outline: none;
    position: relative;
    display: none;
    margin-right: .5rem;
}

.show {
    transform: translate(0);
    display: block;
}

/* --------------------- navbar End ----------------------- */

.affected {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.dropdown button {
    border: none;
    font-size: 10px;
    align-self: flex-end;
}

.dropdown-toggle::after {
    color: #f6405d;
}

.drop .btn{
    align-self: flex-end;
}

.card {
    background-color: #2e3539 !important;
    border: none !important;
    outline: none !important;
    color: white !important;
    padding: 0 !important;
    margin-right: 1rem;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;

}

.col-lg-7 {
    padding-right: 0 !important;
    margin-bottom: 1rem;
}

.col-lg-5 {
    padding-left: 0 !important;
    margin-bottom: 1rem;
}



.progressbar progress::-webkit-progress-value {
    background-color: #fe3e5d;
    border-radius: 8px;
}

.progressbar progress::-webkit-progress-bar {
    background-color: #fe3e5e59;
    border-radius: 8px;
}


.progressbar1 progress::-webkit-progress-value {
    background-color: #4facd4;
    border-radius: 8px;

}

.progressbar1 progress::-webkit-progress-bar {
    background-color: #01a2f349;
    border-radius: 8px;

}

progress {
    border: none;
    /* height: 8px; */
    width: 100%;
}

.service .btn {
    background: #f6405d;
    border-radius: 30px;
    border: none;
    padding: .5rem 3rem;
}

.service .col-md-6 {
    padding: 0 !important;
}

.service img {
    height: 100%;
    width: 100%;
}

.info i {
    font-size: 1.5rem;
    padding: .5rem;
    color: #4facd4;
    background-color: #4facd45e;
}


.news i {
    margin-left: 1rem;
}


.btn-secondary {
    background-color: transparent !important;
    border-color: transparent !important;
    padding: 0;
    margin-right: 1.5rem;
    font-size: 1rem !important;
}



.col-lg-6 {
    padding-left: 0 !important;
}



.map .card-body {
    padding: 0 !important;
}